<div id="form">
  <h2>Signup</h2>
  <a href="/">Back to Home Page</a>
  <hr>
  <form action="/signup" method="POST">
    <label>
      Username
      <input type="text" name="username" autocomplete="username" />
    </label>
    <label>
      Email
      <input type="email" name="email" />
    </label>
    <label>
      Password
      <input type="password" name="password" autocomplete="current-password" />
    </label>

    <button type="submit">Submit</button>

    {{#if errorMessage}}
      <p class="error">{{errorMessage}}</p>
    {{/if}}

  </form>
</div>