<div id="create">
<h3>Create an Activity</h3>
 
<form class="create-form" action="/activities/create" method="post" enctype="multipart/form-data">
    <div class="create">
        <label class="createLabel"> Title:
            <input type="text" name="title" />
        </label>
        
        <label class="createLabel"> Description:
            <div>
                <textarea class="description" name="description" cols="30" rows="8"> </textarea>
            </div>
        </label>
        
        <label class="createLabel"> Start Date:
            <input type="date" id="start" name="startDate"
                value="2021-08-09"
                min="2021-08-09" max="3000-08-09">
        </label>

        <label class="createLabel"> Meeting Point:
            <input type="text" name="meetingPoint"  />
        </label>

        <label> Image File:
            <input type="file" name="activity-image"/>
        </label>
    </div>
 
  <button class="create-button" type="submit"> Create </button>
</form>
</div>