<nav class="nav">
    <a href="/login">Login</a>
    <a href="/signup">Signup</a>
    <a href="/activities/list">List</a>
    <a href="/activities/create">Create</a>
    <a href="/logout">Logout</a>
</nav>