<!DOCTYPE html>
<html lang="en">

   <head>
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <meta http-equiv="X-UA-Compatible" content="ie=edge">
      <title>{{title}}</title>
      <link rel="stylesheet" href="/stylesheets/style.css" />
      <link rel="stylesheet" href="/stylesheets/login.css" />
   </head>

   <body>
      <div "title-container">
         <h1 class="title">{{title}}</h1>
            </div>
            {{#if user.username}}
      <nav class="nav">
         
         {{#if user}}
         <label> Welcome {{user.username}}
         {{/if}}
         </label>
         <a href="/">Actitivies List</a>
         <a href="/activities/create">Create</a>
         <a href="/login">Login/Signup</a>
         <a href="/logout">Logout</a>
      </nav>
        {{/if}}
      {{{body}}}

      <script src="/js/script.js"></script>
      
   </body>

</html>