/* layout page */
body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-color: rgb(255, 255, 255);
}

h1 {
  color: darkcyan;
  padding-bottom: 2vh;
}

.welcome {
  color:darkcyan;
}

h2 {
  font-size: 50px;
  color: rgb(85, 193, 243);
  margin-top: 1vh;
  margin-bottom: 3vh;
}

h5 {
  color: white;
}

.nav {
  font-size: 26px;
  margin: 0 auto;
}

.nav label {
  font-size: 16px;
  margin-right: 2vh;
}

.list-content {
  margin-top: 5vh;
}

.title-container {
  display: flex;
  justify-content: center;
  text-align: center;
}

.createLabel {
  width: 5vw;
  margin-bottom: 2vh;
}

.list {
  display: flex;
  flex-direction: row;
}

.activity {
  margin-bottom: 2vh;
  font-size: 20px;
  font-weight: bold;
}

.details {
  display: flex;
  flex-direction: column;
}

.image {
  width: 50%;
}

.booking {
  display: flex;
  flex-direction: column;
}

.booking button {
  width: 10vw;
}

.booking label {
  width: 15vw;
}

.attendants {
  visibility: none;
}
/* login page */

.login-form {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  font-size: 26px;
}

.login-form label {
  background-color: brown;
  padding-top: 1vh;
}

.login-form button {
  width: 10vw;
  margin-top: 3vh;
}

.login-form input {
  height: 26px;
  width: 21vw;
  margin-bottom: 3vh;
  background-color: blue;
}

.activity-image {
  max-width: 30%;
}

/* list page */

.card {
  height: 48vh;
  width: 28vw;
  background: rgb(6,36,0);
  background: linear-gradient(90deg, rgba(6,36,0,1) 0%, rgba(42,184,205,1) 0%, rgba(0,212,255,1) 100%);
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0px 3px 2vh 2vw !important;
}

.card-body {
  display: flex;
  flex-direction: column;
  align-items:flex-end; 
  height: 10vh !important;
}

.list img {
  width: 19vw;
  padding: 1vh;
}

.card img {
  width: 19vw;
  padding: 1vh;
  margin-top: 3vh;
}

.list h5 {
  color: white;
}

.card-btn  {
  display: flex;
  flex-direction: row;
  width: 20vw;
  margin-bottom: 2vh;
}

.card-link {
  margin-top: 2vh;
  display: flex;
  flex-direction: row;
}

.card-btn a {
  border-radius: 16px;
  border: 1px solid #ff4b2b;
  background-color: #ff4b2b;
  color: #ffffff;
  font-size: 12px;
  font-weight: bold;
  padding: 1.5vh 30px;
  letter-spacing: 1px;
  text-decoration: none;
  text-transform: uppercase;
  transition: transform 80ms ease-in;
  width: 10vw;
  text-align: center;
  line-height: 1.8vh;
}

.card-btn button {
  border-radius: 16px;
  border: 1px solid #ff4b2b;
  background-color: #ff4b2b;
  color: #ffffff;
  font-size: 12px;
  font-weight: bold;
  width: 10vw;
  height: 5vh;
  letter-spacing: 1px;
  text-decoration: none;
  text-transform: uppercase;
  transition: transform 80ms ease-in;
}

.create-form .edit-field {
  height: 70vh;
  width: 80vw;
}

.create {
  display: flex;
  flex-direction: column;
  width: 80vw;
  margin-left: 30vw;
}

.create label {
  width: 20vw;
  text-align: left;
}

.create-button {
  align-self: auto;
  margin-top: 2vh;
}

.description {
  background-color: #eee;
  width: 20vw;
}

.edit-field {
  width: 30vw;
}

.login-headline {
  color: rgb(3, 115, 252) !important;
}

.login-hello {
  color: white !important;
}