/* layout page */
body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

h1 {
  color:#68b022;
  padding-bottom: 2vh;
}

.header-container {
  display: flex;
  flex-direction: row;
}

.welcome {
  color: #68b022;
  padding-left: 1vw;
  font-size: 37px;
  margin: 0;
}

h2 {
  font-size: 50px;
  color: rgb(69 167 228);
  margin-top: 1vh;
  margin-bottom: 3vh;
}

h3 {
  margin-top: 4vh;
}

h5 {
  color: white;
  font-size: 30px;
  margin-top: 2vh;
}

.nav {
  font-size: 26px;
  margin: 0 auto;
}

.nav label {
  font-size: 16px;
  margin-right: 2vh;
}

.nav-link {
    display: block;
    padding: .5rem 1rem;
    color: #45a7e4;
    font-weight: bold;
    font-size: 37px;
    margin-top: 2vh;
    text-decoration: none;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out;
}

.list-content {
  margin-top: 5vh;
}

.title-container {
  display: flex;
  justify-content: center;
  text-align: center;
  margin-left:0%;
}

.title {
  font-size: 86px !important;
  margin-left: 3vw;
  margin-right: 3vw;
  font-weight: bold;
  margin-top: 1vh;
}

.list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.activity {
  margin-bottom: 2vh;
  font-size: 20px;
  font-weight: bold;
}

.details {
  display: flex;
  flex-direction: column;
  background-color: rgb(69 167 228);
  border: 3px solid black;
  width: 27vw;
  color: white;
  font-size: 25px;
  margin: auto;
  margin-top: 3vh;
}

.detail-headline {
  width: 27vw;
  margin: auto;
  margin-top: 3vh;
  margin-bottom: 3vh;
}

.image {
  width: 50%;
}

.booking {
  display: flex;
  flex-direction: column;
}

.booking label {
  width: 15vw;
}

.attendants {
  visibility: none;
}
/* login page */

.login-form {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  font-size: 26px;
}

.login-form label {
  background-color: brown;
  padding-top: 1vh;
}

.login-form button {
  width: 10vw;
  margin-top: 3vh;
}

.login-form input {
  height: 26px;
  width: 21vw;
  margin-bottom: 3vh;
  background-color: blue;
}

.activity-image {
  max-width: 60%;
  margin: auto;
  margin-top: 4%;
  margin-bottom: 4%;
}

/* list page */
.card {
  width: 20%;
  /* width: ; */
  background: rgb(69 167 228);
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0px 3px 2vh 2vw !important;
  border: 3px solid black;
}

.card-body {
  display: flex;
  flex-direction: column;
  align-items:flex-end; 
  /* height: 14vh !important; */
  margin-top: 1vh;
}

.list img {
  width: 19vw;
  padding: 1vh;
}

.card img {
  width: 80%;
  padding: 1vh;
  height: auto;
  margin-top: 3vh;
}

.list h5 {
  color: white;
}

.card-btn  {
  display: flex;
  flex-direction: row;
  width: 17vw;
  margin-bottom: 2vh;
}

.card-link {
  margin-top: 2vh;
  display: flex;
  flex-direction: row;
}

.bookingButton {
  border-radius: 16px;
  border: 1px solid #ff4b2b;
  background-color: #ff4b2b;
  color: #ffffff;
  font-size: 12px;
  font-weight: bold;
  width: 8vw;
  height: 4vh;
  letter-spacing: 1px;
  text-decoration: none;
  text-transform: uppercase;
  transition: transform 80ms ease-in;
  margin-left: 10vw;
  margin-bottom: 3vh;
}

.card-btn a {
  border-radius: 16px;
  border: 1px solid #ff4b2b;
  background-color: #ff4b2b;
  color: #ffffff;
  font-size: 12px;
  font-weight: bold;
  padding: 1.5vh 30px;
  letter-spacing: 1px;
  text-decoration: none;
  text-transform: uppercase;
  transition: transform 80ms ease-in;
  width: 8vw;
  height: 4vh;
  text-align: center;
  line-height: 1vh;
  margin-right: 1vw;
}

.card-btn button {
  border-radius: 16px;
  border: 1px solid #ff4b2b;
  background-color: #ff4b2b;
  color: #ffffff;
  font-size: 12px;
  font-weight: bold;
  width: 8vw;
  height: 4vh;
  letter-spacing: 1px;
  text-decoration: none;
  text-transform: uppercase;
  transition: transform 80ms ease-in;
}

.description {
  background-color: white;
  width: 17vw;
  resize: none;
}

/* create page */
#create h3 {
  display:flex;
 justify-content: center;
 color: black;
}

.create-button {
  display:flex;
  justify-content: center;
  margin: 2vh auto;
  border-radius: 16px;
  border: 1px solid #ff4b2b;
  background-color: #ff4b2b;
  color: #ffffff;
  font-size: 12px;
  font-weight: bold;
  padding: 12px 40px;
  letter-spacing: 1px;
  text-decoration: none;
  text-transform: uppercase;
  transition: transform 80ms ease-in;
}

.create label {
  width: 20vh;
  text-align: left;
  margin-bottom: 2vh;
  color: white;
  font-size: 25px;
}

.create {
  display: flex;
  flex-direction: column;
  width: 25.5vw;
  border: 3px solid black;
  margin: auto;
  margin-top: 3vh;
  padding-left: 4vw;
  background: rgb(69 167 228);
  padding-top: 4vh;
}

.create-form {
  width: 100%;
  margin-top: 4vh;
}

.edit-field {
  width: 80%;
}

.editLabel {
  width: 100%;
}

.create input {
  margin-top: 2vh;
  width: 17vw;
}

.create textarea {
  margin-top: 2vh;;
}

.login-headline {
  color: rgb(3, 115, 252) !important;
}

.login-hello {
  color: white !important;
}

.detailsLabel {
  margin-bottom: 2vh;
  margin-left: 5vw;
}

.edit-image {
  width: 60%;
  margin: auto;
  margin-top: 2vh;
  margin-bottom: 2vh;
}

.logo {
  height: 10vh;
}

.username {
  height: 3vh;
  display: flex;
}

.bird-img {
  height: 7vh;
  margin-top: -1%;
  width: auto;
}