body {
  padding-left: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-color: rgb(255, 255, 255);
}

a {
  color: #00b7ff;
  margin-right: 0.5vw;
}

h1 {
  font-size: 100px;
  color: rgb(85, 193, 243);
}

h2 {
  font-size: 50px;
  color: rgb(85, 193, 243);
  margin-top: 1vh;
  margin-bottom: 3vh;
}

.nav {
  font-size: 30px;
  margin-right: 2vh;
}

.title-container {
  display: flex;
  justify-content: center;
  text-align: center;
}

.list-content {
  margin-top: 5vh;
}

.create {
  display: flex;
  flex-direction: column;
  width: 10vw;
}

.createLabel {
  width: 5vw;
  margin-bottom: 2vh;
}

.list {
  display: flex;
  flex-direction: column;
}

.activity {
  margin-bottom: 2vh;
  font-size: 20px;
  font-weight: bold;
}